/* Skip to Main Content Button */
.skip {
    position: absolute;
    top: -40px;
}

.skip:focus {
    top: 20px;
    left: 20px;
    background-color: white;
    color: #1D334A;
    text-decoration: none;
    font-weight: bold;
}

/* General Styling */

img {
    height: auto;
    max-width: 100%;
}

body {
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 1.6;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

/* Header */
header {
    background-color: #1D334A;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    display: flex;
    flex-direction: column;
}

.header_flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-height: 100px;
}

.hamburger {
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.hamburger:hover {
    border: solid white 2px;
}

/* Navigation: default with mobile view */
nav {
    /* Navigation menu initially hidden for mobile view */
    display: none;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

.nav_item, .dropdown_item {
    margin: 10px;
}

.nav_item a, .dropdown_item a {
    color: white;
    text-decoration: none;
    padding: 5px 0 5px 10px;
}

.dropdown_item a {
    margin-left: 20px;
}

.nav_item:hover {
    opacity: 100%;
    text-decoration: underline;
}

li.dropdown:hover .dropdown_content {
    transition: 2s;
    display: block;
    background-color: #1D334A;
}

.dropdown_item:hover a {
    color: #1D334A;
}
/* Dropdown menus intially hidden for mobile view */
.dropdown_about, .dropdown_members, .dropdown_projects {
    display: none;
}

/* Home page styling */
.home {
    background-color: #929191;
    background-image: url("../images/home_team.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

.team_name, .team_intro {
    color: white;
}

div.intro_blurb {
    text-align: center;
    margin: 0 auto;
    padding: 200px 50px;
}

/* Footer Styling */
footer {
    background-color: #1D334A;
    color: white;
    text-align: center;
}

footer p {
    padding: 0 20px 20px 20px;
}

footer a {
    color: white;
}

ul.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

li.social_item {
    padding: 10px;
}

footer a:hover {
    opacity: 75%;
}

/* Navigation styling for larger screens */
@media screen and (min-width: 640px) {
    /* Remove hamburger */
    .hamburger {
        display: none;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        max-height: 125px;
    }
    
    nav {
        display: block;
        background-color: #1D334A;
        margin: 0 30px 0 0;
    }

    /* Navigation links shown as horizontal line in header */
    ul.nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_item {
        padding: 10px;
    }

    li.nav_item a {
        padding: 0;
        opacity: 75%;
    }

    li.nav_item:hover {
        background-color: initial;
    }

    li.nav_item:hover a {
        opacity: 100%;
    }

    /* Dropdown menus */
    li.dropdown:hover .dropdown_content {
        display: block;
        position: fixed;
        background-color: white;
        margin-top: 20px;
    }

    .dropdown_item a {
        color:#1D334A;
        font-weight: bold;
        opacity: 100%;
        margin: 0;
    }

    li.dropdown_item {
        margin: 0;
        padding: 10px;
    }

    li.dropdown_item:hover {
        background-color: lightgrey;
    }

    /* Donate button in nav: white outline then solid when hovered over */
    li.nav_item#donate {
        border: 3px solid white;
    }

    li.nav_item#donate:hover {
        background-color: white;
        border-radius: 0px;
    }

    li.nav_item#donate:hover a {
        color: #1D334A;
        opacity: 100%;
        font-weight: bold;
    }

    /* Home page styling */
    div.intro_blurb {
        padding: 400px 200px;
        width: 50%;
    }
    
}